body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

svg {
  width: 100% !important;
  height: 600px !important;
}

svg path:hover {
  fill: red !important;
}