doctype html
meta(charset='utf-8')

html
    head
        title= title
    body
        svg(width='960', height='600', fill='none', stroke='#000', stroke-linejoin='round', stroke-linecap='round')
        script(src='javascripts/d3.min.js')
        script(src='javascripts/topojson.min.js')
        script.
            var svg = d3.select("svg");
            var path = d3.geoPath();
            
            var xhReq = new XMLHttpRequest();
            xhReq.open("GET", "localhost:3000/map", false);
            xhReq.send(null);
            var jsonObject = JSON.parse(xhReq.responseText);

            d3.json(jsonObject, function(error, us) {
                if (error) throw error;
                svg.append("path")
                    .attr("stroke", "#aaa")
                    .attr("stroke-width", 0.5)
                    .attr("d", path(topojson.mesh(us, us.objects.counties, function(a, b) { return a !== b && (a.id / 1000 | 0) === (b.id / 1000 | 0); })));
                
                svg.append("path")
                    .attr("stroke-width", 0.5)
                    .attr("d", path(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; })));
                
                svg.append("path")
                    .attr("d", path(topojson.feature(us, us.objects.nation)));
            });