doctype html
meta(charset='utf-8')

html
    head
        title= title
        script(src='javascripts/d3.min.js')
        script(src='javascripts/topojson.min.js')
        script(src='javascripts/jquery-3.3.1.min.js')
        link(href='stylesheets/style.css' type='text/css' rel="stylesheet")
    body
        svg(fill='none', stroke='#000', stroke-linejoin='round', stroke-linecap='round')
        script.
            document.documentElement.addEventListener("click", function(e) {
                if(e.target.localName == "path") {
                    /* console.log(e.target);
                    alert(e.target); */
                    d3.json('data/'+e.target.id).then(function(data, error) {
                        alert(data.data[0].GEO_COD_DSG);
                    });
                }
            });
            
            var svg = d3.select("svg");

            d3.json('conc_porto_topo.json').then(function(data, error) {
                if (error) {
                    throw error;
                }

                var height = document.body.clientHeight;
                var width = document.body.clientWidth;
                var projection = d3.geoMercator()
                                .center([-8.618648600000029,41.1561768])
                                .scale(100000)
                                .translate([width / 2, height / 2]);

                var path = d3.geoPath(projection);

                var features = topojson.feature(data, data.objects.map_qgis).features;
                for (var i = 0; i < features.length; i++) {
                    var feat = features[i];

                    svg.append("path")
                        .attr("id", feat.properties.bgri11)
                        .attr("fill", "#00cc00")
                        .attr("stroke", "#888888")
                        .attr("d", path(feat));
                }
            });

